*{
    box-sizing: border-box;
}

:root{
  --clr-body:#fff;
  --clr-bg:#ccc;
  --clr-primary:orange;
}

body{
font-family: basic-sans,sans-serif;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.125em;
line-height: 1.6;
color: var(--clr-body);
background: var(--clr-bg);
}

.content {
    background :white;
    padding: 3em;
    box-shadow: 0 0 3em rgba(0,0,0,.15);
   
    /* width: min(500px,70%); */
     /* width: 70%;
       max-width:500px;
     */
     /* width: min(400px,45%, 50vh); */
   width: 70%;
     color:black;

}

.title{
    margin:0 0 .5em;

font-weight: 900;
color:var(--clr-primary);
line-height: 0.8;
font-size: clamp(2rem,5vw,5rem);
}

p{
    background-color: lightblue;
    /* width: clamp(200px,50%,20rem); */
    /* 
    min:200px

    after 200px grow to 50% until 20rem
    */

    /* v.v.v.imp */
    /* if we set font size to 3vw;
    when we zoom the website it won't affect the font. So, it's not a good practise
    */

    /* font-size: calc(1vw + 0.5rem); */
    font-size: clamp(1rem,1.25vw,1.25rem);
}